body {
  background: url(asset-path('laptop-background.jpg')) no-repeat;
}
.container {
    width: 80%;
}
a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}

.logo-thumbnail{
img {

  width: 100%;
}
}
hr{
  clear:both;
}
.form-group{
  display: flex;
  flex-direction: column;

  .btn {
    margin-top: 1.5em;
    width: 30%;
    align-self: center;
    background-color: #dd5566;
    border-color: #dd5566;
    font-weight: bold;
    }
}